        html *
        {
           font-family: Arial !important;
        }

        h3 img{
             width: 20px;
             height: 20px;
             display: block;
        }
        h3 > img {
            display: inline-block;
        }

        img{
            width: 100%;
            height: auto;
        }

        #concats{
            display:none;
        }
        #concats ul li a {
            display: inline-block;
        }

        li{
            list-style-type:none;
        }
        /* danh muc tra cuu */
        ._ico {
            width: 90px;
            height: 90px;
        }

        ._ico2{
            width: 110px;
            height: 110px;
        }

        ._picbig {
            position: absolute;
            width: 0px;
            -webkit-transition: width 0.3s linear 0s;
            transition: width 0.3s linear 0s;
            z-index: 10;
        }

        ._ico2:hover+._picbig{
            width: 200px;
            max-width: 80%;
            left:20%;
            top: 50%;
            height: auto;
            background-color: #EAFDF8;
        }

        .main-tra-cuu:hover img:not(:hover) {
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            opacity: .75;
        }

        .main-tra-cuu {
            background-color: #2C3E50;
            margin: auto;
            padding-top: 50px;
            border: auto;
            /*display: block;*/
            height: auto;
            top: 27px;
            width: 100%;
            overflow: hidden;
            clear: both;
            text-align: center;
            position: absolute;
        }

        .ui-block-a {
            text-align: left;
            height: 100%;
            width: 100%;
            overflow: hidden;
            padding-bottom: 10px;
        }

        .ui-block-c {
            text-align: right;
            height: 100%;
            width: 100%;
            overflow: hidden;
            padding-bottom: 10px;
        }

